{% extends 'base.html' %}
{% load static from staticfiles %}
{% load url from future %}
{% block css %}
    <!-- Important. For Theming change primary-color variable in main.css  -->
    <!--[if lte IE 7]>
    <script src="{% static 'theme/css/icomoon-font/lte-ie7.js' %}">
    </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'endes/css/chosen.min.css' %}" />
{% endblock %}
{% block contenido %}

    <!-- bootstrap css -->
    <div class="container-fluid">
        <div class="dashboard-wrapper">
            <div class="left-sidebar">
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    Cuestionario - Datos Personales
                      <span class="mini-title">
                        Complete sus datos personales por favor
                      </span>
                                </div>
                    <span class="tools">
                      <a data-original-title="Ingrese sus datos" class="fs1" aria-hidden="true" data-icon="" data-placement="bottom"></a>
                    </span>
                            </div>
                            <div class="widget-body">

                                <form class="form-horizontal no-margin" id="id_form" name="form">
                                    {% csrf_token %}
                                    <div class="tab-content" id="myTabContent">
                                        <div id="step1" class="tab-pane fade active in">
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        {{ form.apellido_paterno.label_tag }}
                                                        <div class="controls">
                                                            {{ form.apellido_paterno }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        {{ form.apellido_materno.label_tag }}
                                                        <div class="controls">
                                                            {{ form.apellido_materno }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        {{ form.nombres.label_tag }}
                                                        <div class="controls">
                                                            {{ form.nombres }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_instruccion">
                                                            Grado de Instrucción
                                                        </label>

                                                        <div class="controls">
                                                            {{ form.instruccion }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_profesion">
                                                            Profesión
                                                        </label>

                                                        <div class="controls">
                                                            <select class="span12 lista" id="id_profesion" name="profesion"
                                                                    data-original-title = "Escoja su profesión" data-placement ="top">
                                                                <option value="">---------</option>
                                                                {% for profesion in profesiones %}
                                                                    <option value="{{ profesion.codigo }}">{{ profesion.detalle }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        {{ form.edad.label_tag }}
                                                        <div class="controls">
                                                            {{ form.edad }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="civil">
                                                            Estado Civil
                                                        </label>

                                                        <div class="controls">
                                                            {{ form.civil }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_hijos">
                                                            Numero de hijos
                                                        </label>

                                                        <div class="controls">
                                                            {{ form.hijos }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_edades">
                                                            Edades
                                                        </label>

                                                        <div class="controls">
                                                            {{ form.edades }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label" for="name">
                                                            Usted vive con:
                                                        </label>

                                                        <div class="controls">
                                                            <input type="radio" name="vive" id="vive_1" value="1" data-original-title = "Marque esta opción si solo vive con sus padres" data-placement ="top"><b>Sus padres&nbsp;&nbsp;&nbsp;</b>
                                                            <input type="radio" name="vive" id="vive_2" value="2" data-original-title = "Marque esta opción si solo vive con su madre" data-placement ="top"><b>Madre Sola&nbsp;&nbsp;&nbsp;</b>
                                                            <input type="radio" name="vive" id="vive_3" value="3" data-original-title = "Marque esta opción si solo vive con su padre" data-placement ="top"><b>Padre Solo&nbsp;&nbsp;&nbsp;</b>
                                                            <input type="radio" name="vive" id="vive_4" value="4" data-original-title = "Marque esta opción si solo vive con su esposo/a e hijos" data-placement ="top"><b>Esposo e hijos&nbsp;&nbsp;&nbsp;</b>
                                                            <input type="radio" name="vive" id="vive_5" value="5" data-original-title = "Marque esta opción si solo vive con sus hijos" data-placement ="top"><b>Solo con hijos&nbsp;&nbsp;&nbsp;</b>
                                                            <br><br><input type="radio" name="vive" id="vive_6" value="6" data-original-title = "Marque esta opción si ninguna de las anteriores se ajusta a su realidad. Luego complete la casilla." data-placement ="top"><b>Otro&nbsp;&nbsp;&nbsp;</b>
                                                            {{ form.vive_otro }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_puesto">
                                                            Puesto al que postula
                                                        </label>

                                                        <div class="controls">
                                                            {{ form.puesto }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_proyecto">
                                                            Proyecto
                                                        </label>

                                                        <div class="controls">
                                                            <input class="span5" placeholder="Proyecto" type="text" readonly
                                                                   id="id_proyecto" name="proyecto" value="ENDES">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        {{ form.anos_experiencia.label_tag }}
                                                        <div class="controls">
                                                            {{ form.anos_experiencia }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        {{ form.meses_experiencia.label_tag }}
                                                        <div class="controls">
                                                            {{ form.meses_experiencia }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_experiencia">
                                                            Tiene experiencia en proyectos del INEI
                                                        </label>

                                                        <div class="controls">
                                                            <b>Sí&nbsp;&nbsp;&nbsp;</b><input type="radio" name="experiencia_inei" id="experiencia1" value="1" data-original-title= 'Escoja sus proyectos' data-placement='top'>
                                                            <b>Cual(es)&nbsp;&nbsp;&nbsp;</b>
                                                            <select class="span6" id="id_eproyectos_inei" name="eproyectos_inei" disabled multiple>
                                                                {% for proyecto in proyectos %}
                                                                    <option value="{{ proyecto.codigo }}">{{ proyecto.detalle }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <b>No&nbsp;&nbsp;&nbsp;</b><input type="radio" name="experiencia_inei" id="experiencia2" value="2" data-original-title= 'Seleccione esta opción si no ha trabajado en ningún proyecto en INEI' data-placement='top'>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label" for="id_experiencia">
                                                            Tiempo de experiencia en encuestas de hogares
                                                        </label>

                                                        <div class="controls">
                                                            <input type="checkbox" name="einei" id="id_einei" value="1"><b> INEI</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <b>Años:&nbsp;&nbsp;</b>{{ form.anos_einei }}
                                                            <b>Meses:&nbsp;&nbsp;</b>{{ form.meses_einei }}<br><br>
                                                            <input type="checkbox" name="eotro" id="id_eotro" value="2"><b>Otra Institución</b>
                                                            <b>Años:&nbsp;&nbsp;</b>{{ form.anos_eotro }}
                                                            <b>Meses:&nbsp;&nbsp;</b>{{ form.meses_eotro }}<br><br>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <b>Institución:&nbsp;&nbsp;</b>{{ form.institucion_eotro }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="span6">
                                                        <div class="control-group">
                                                            <label class="control-label" for="id_experiencia">
                                                                Region
                                                            </label>
                                                            <div class="controls">
                                                                <select id="id_region" class="span12 lista" data-original-title= 'Escoja la Region a la que postula' data-placement= 'top'>
                                                                    <option value=''>---------</option>
                                                                    {% for item in regiones %}
                                                                        <option value="{{ item.codigo }}">
                                                                            {{ item.descripcion }}
                                                                        </option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                     <div class="span6">
                                                        <div class="control-group">
                                                            <label class="control-label" for="id_experiencia">
                                                                Provincia
                                                            </label>
                                                            <div class="controls">
                                                                <select id="id_odei" class="span12 lista" name="odei" data-original-title= 'Escoja la ODEI a la que postula' data-placement= 'top'>
                                                                    <option value=''>---------</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                     </div>
                                                </div>
                                            </div>

                                            <div class="row-fluid">
                                                <div class="span8">
                                                    <div class="control-group">
                                                        <label class="control-label">
                                                            Oficina Departamental de Estadistica e Informática
                                                        </label>
                                                        <div class="controls">
                                                            <input type="text" class="span12" id="id_todei" name="todei" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                        <div class="next-prev-btn-container pull-right" style="margin-right: 10px;">
                                            <a data-original-title="" href="javascript: save_cuestionario();"
                                               class="button next" >
                                                Continuar
                                            </a>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--/.fluid-container-->
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'endes/js/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">

    var blank = new RegExp('\\s{2}', 'g'),
        letter = new RegExp('^[A-Za-zñÑá-úÁ-Ú ]+$'),
        rletter = new RegExp('[^A-Za-zñÑá-úÁ-Ú ]','g'),
        number = new RegExp('^[1-9][0-9]$'),
        rnumber = new RegExp('[^1-9]','g'),
        edades = new RegExp('^[0-9]{1,2}(,[0-9]{1,2})*$'),
        redades = new RegExp('^[0-9]{1,2}(,[0-9]{1,2})*$', 'g'),
        hijos = new RegExp('^[0-9]+$');

    function activate_tooltips(){
        $('input').tooltip('hide');
        $('select').tooltip('hide');
    }

    function save_cuestionario(){
        var data = $('#id_form').serialize();
        if(validar()){
            var options = {
                type: 'POST',
                url: "{% url 'cuestionario1' %}",
                dataType: 'json',
                async: true,
                data: data,
                beforeSend: function() {

                }
            };
            var posting = $.ajax(options);

            posting.done(function(data, textStatus, jqXHR) {
                if(data['success']){
                    location.href = '{% url 'instructivo' %}';
                }else{
                    //activate_tooltips();
                    $('.control-group').removeClass('error');
                    var msg='Corrija los errores marcados en rojo porfavor!';
                    $.each(data['data'],function(k,v){
                        //msg += k + ' - ' + v + '\n';
                        var el = $('#id_'+k);
                        if(k === 'eproyectos_inei'){
                            el = $('#experiencia1');
                        }
                        if(k === 'vive'){
                            el = $('#vive_6');
                        }
                        if(k === 'odei'){
                            var region = $('#id_region');
                            region.parent().parent().addClass('error');
                            region.tooltip('show');
                        }
                        if(k === 'experiencia_inei'){
                            el = $('#experiencia2');
                        }
                        if(k === '__all__'){
                            $('#id_anos_einei').parent().parent().addClass('error');
                        }
                        el.parent().parent().addClass('error');
                        el.tooltip('show');
                    });
                    alert(msg);
                }
            })
            .fail(function(data, textStatus, jqXHR) {
                alert('Ha ocurrido un error inesperado');
            });
        }
    }

    $('#id_region').on('change', function(e){
        var data = {
            region: $(this).val()
        };
        var options = {
            type: 'POST',
            url: "{% url 'odeis' %}",
            dataType: 'json',
            async: true,
            data: data,
            beforeSend: function() {

            }
        };
        var posting = $.ajax(options);
        var provincias = $('#id_odei');
        posting.done(function(data, textStatus, jqXHR) {
            provincias.find('option').remove();
            $('#id_todei').val('');
            provincias.append($('<option>', {
                value: '',
                text : '----------'
            }));

            if(data['success']){
                $.each(data['data'], function(k, v){
                    provincias.append($('<option>', {
                        value: v['id'],
                        text : v['descripcion']
                    }));
                });
            }
        })
        .fail(function(data, textStatus, jqXHR) {
            alert('Ha ocurrido un error inesperado');
        });
    });

    $('#id_odei').on('change', function(e){
        var data = {
            region: $('#id_region').val(),
            provincia: $(this).val()
        };

        var options = {
            type: 'POST',
            url: "{% url 'odeis2' %}",
            dataType: 'json',
            async: true,
            data: data,
            beforeSend: function() {

            }
        };
        var posting = $.ajax(options);

        posting.done(function(data, textStatus, jqXHR) {
            $('#id_todei').val('');
            if(data['success']){
                $('#id_todei').val(data['data']);
            }
        })
        .fail(function(data, textStatus, jqXHR) {
            alert('Ha ocurrido un error inesperado');
        });
    });

    function validar(){

        return true;
    }

    $('.texto').on('input blur', function(e){
        var valor = $(this).val().toUpperCase();
        if(valor !== '' ){
            if(!blank.test(valor) && letter.test(valor)){
                $(this).val(valor);
                $(this).parent().parent().removeClass('error');
                $(this).tooltip('hide');
            }else{
                valor = $.trim(valor.replace(blank, ' ').replace(rletter, ''));
                $(this).val(valor);
            }
        }else{
            $(this).parent().parent().addClass('error');
        }
    });

    $('.numero').on('input blur', function(e){
        var valor = $.trim($(this).val());
        if(valor !== '' ){
            if(hijos.test(valor)){
                $(this).val(valor);
                $(this).parent().parent().removeClass('error');
                $(this).tooltip('hide');
            }else{
                valor = $.trim(valor.replace(rnumber, ' '));
                $(this).val(valor);
            }
        }else{
            $(this).parent().parent().addClass('error');
        }
    });

    $('.lista').on('input blur', function(e){
        var valor = $(this).val();
        if(valor !== '' ){
            $(this).parent().parent().removeClass('error');
            $(this).tooltip('hide');
        }else{
            $(this).parent().parent().addClass('error');
        }
    });

    $('#id_edad').on('input blur', function(e){
        var valor = $(this).val().toUpperCase();
        if(valor !== '' ){
            if(number.test(valor)){
                if(parseInt(valor)>=18){
                    $(this).val(valor);
                    $(this).parent().parent().removeClass('error');
                    $(this).tooltip('hide');
                }else{
                    $(this).val('');
                }
            }else{
                valor = valor.replace(rnumber, '');
                $(this).val(valor);
            }
        }else{
            $(this).parent().parent().addClass('error');
        }
    });

    $('#id_hijos').on('input blur', function(e){
        var valor = $.trim($(this).val());
        if(valor !== '' ){
            if(hijos.test(valor)){
                $(this).val(valor);
                if(parseInt(valor)>0){
                    $('#id_edades').attr('disabled', false);
                }else{
                    $('#id_edades').val('');
                    $('#id_edades').attr('disabled', true);
                }
            }else{
                valor = valor.replace(rnumber, '');
                $(this).val(valor);
            }
        }else{
            $('#id_edades').val('');
            $('#id_edades').attr('disabled', true);
        }
    });


    $('#id_edades').on('blur input', function(e){
        var valor = $(this).val(),
            nhijos = parseInt($('#id_hijos').val());

        if(edades.test(valor)){
            var valores = valor.split(',');
            if(valores.length === parseInt(nhijos)){
                $(this).val(valor);
                $(this).parent().parent().removeClass('error');
                $(this).tooltip('hide');
            }else{
                $(this).parent().parent().addClass('error');
            }
            $.each(valores, function(k, v){
                if (parseInt(v) > (parseInt($('#id_edad').val())-10)  ){
                    $('#id_edades').parent().parent().addClass('error');
                    return false;
                }
            });
        }else{
            $(this).parent().parent().addClass('error');
        }
    });

    $('input[name="vive"]').on('click', function(e){
        var vive = $('#id_vive_otro');
        if(e.target.value === '6'){
            vive.attr('disabled', false);
            $(this).parent().parent().addClass('error');
        }else{
            $(this).parent().parent().removeClass('error');
            vive.val('');
            vive.attr('disabled', true);
        }
    });

    $('input[name="experiencia_inei"]').on('click', function(e){
        var proyectos = $('#id_eproyectos_inei');
        if (e.target.value === '1'){
            proyectos.prop('disabled', false).trigger("chosen:updated");
        }else{
            proyectos.val('');
            proyectos.prop('disabled', true).trigger("chosen:updated");
        }
    });

    $('#id_einei').on('change', function(e){
        var estado = !$(this).is(':checked'),
                anos= $('#id_anos_einei'),
                meses=$('#id_meses_einei');
        if(estado){
            $(this).parent().parent().removeClass('error');
        }
        anos.val(''); meses.val('');
        anos.attr('disabled', estado);
        meses.attr('disabled', estado);
    });

    $('#id_eotro').on('change', function(e){
        var estado = !$(this).is(':checked'),
                institucion=$('#id_institucion_eotro'),
                anos = $('#id_anos_eotro'),
                meses = $('#id_meses_eotro');
        if(estado){
            $(this).parent().parent().removeClass('error');
        }
        institucion.val(''); anos.val(''); meses.val('');
        institucion.attr('disabled', estado);
        anos.attr('disabled', estado);
        meses.attr('disabled', estado);
    });

    $("#id_eproyectos_inei").chosen({
        no_results_text: "No se encontro el proyecto!",
        placeholder_text_multiple: 'Escoja sus proyectos'
    });

    $(document).on('ready', function(){
        //Tooltip
        activate_tooltips();
        $('#id_apellido_paterno').focus();
    });
    </script>
{% endblock %}
