{% extends 'base.html' %}
{% load static from staticfiles %}
{% block css %}
    <!-- Important. For Theming change primary-color variable in main.css -->
    <!--[if lte IE 7]>
<script src="{% static 'theme/css/icomoon-font/lte-ie7.js' %}">
</script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'endes/css/jquery.countdown.css' %}" />
    <style type="text/css">
        #id_preguntas thead tr th{
            vertical-align: middle!important; text-align: center!important;
        }

        #id_preguntas tbody tr td{
            vertical-align: middle; text-align: center;
        }
        .texto-pregunta{
            text-align: left!important;
        }
    </style>
{% endblock %}
{% block contenido %}
    <!-- bootstrap css -->
    <div class="container-fluid">
        <div class="dashboard-wrapper">
            <div class="left-sidebar">
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    Parte III
                                      <span class="mini-title">
                                        Complete las preguntas con honestidad
                                      </span>
                                </div>
                            <span class="tools">
                              <a data-original-title="Ingrese sus datos" class="fs1" aria-hidden="true" data-icon="" data-placement="bottom"></a>
                            </span>
                            </div>
                            <div class="widget-body">
                                <form class="form-horizontal no-margin" id="id_form3">
                                    {% csrf_token %}
                                    <div class="tab-content" id="myTabContent">
                                        <div id="step1" class="tab-pane fade active in">
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <span id="newPage" class="countdown "></span>
                                                </div>
                                            </div><br><br>
                                            <div class="row-fluid">
                                                <table class="table table-bordered table-hover" id="id_tabla">
                                                    <thead>
                                                    <tr>
                                                    <th colspan="6">A continuación se presenta 9 afirmaciones con relación a su estado de ánimo, son sentimientos que se presentan
                                                        con frecuencia en nuestra población. Usted deberá responder con honestidad de acuerdo a su realidad y solo se centrará en las
                                                        "Últimas dos semanas", es decir solo debe centrarse si en este tiempo (ÚLTIMAS DOS SEMANAS) ha tenido estos sentimientos.
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" rowspan="2">
                                                            <b>INSTRUCCIONES PARA DESARROLLAR EL SIGUIENTE CUESTIONARIO</b><br>
                                                            LEA LAS AFIRMACIONES UNA A UNA Y CLIQUEE SOLO UNA DE LAS ALTERNATIVAS QUE MAS SE AJUSTA A SUS SENTIMIENTOS.<br>
                                                            SI CONSIDERA QUE "NO" PARA ALGUNA AFIRMACION CLIQUEE <i><b>"PARA NADA"</b></i> <br>
                                                            SI CONSIDERA QUE "SI" PARA ALGUNA AFIRMACION DEACUERDO AL NUMERO DE DIAS QUE TUVO ESTOS SENTIMIENTOS CLIQUEE
                                                            LA OPCION <i><b>"VARIOS DIAS"</b></i> SI LOS SENTIMIENTOS LOS TUVO DE 1 A 6 DÍAS;<br>
                                                            LA OPCION <i><b>"LA MAYORIA DE DIAS"</b></i> SI LOS SENTIMIENTOS LOS TUVO DE 7 A 11 DÍAS;<br>
                                                            LA OPCION <i><b>"CASI TODOS LOS DIAS"</b></i> SI LOS SENTIMIENTOS LOS TUVO DE 12 A MAS DÍAS;<br>
                                                            RECUERDE SE CONSIDERA ESTOS SENTIMINETOS EN LAS ÚLTIMAS 2 SEMANAS

                                                        </td >
                                                        <th>A</th>
                                                        <th>B</th>
                                                        <th>C</th>
                                                        <th>D</th>
                                                    </tr>
                                                    <tr>
                                                        <th>PARA NADA</th>
                                                        <th>VARIOS DÍAS <br> (1 A 6 DÍAS)</th>
                                                        <th>LA MAYORÍA<br> DE DÍAS <br> (7 A 11 DÍAS)</th>
                                                        <th>CASI TODOS <br>LOS DÍAS<br> (12 A MÁS DÍAS)</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>He tenido poco interés o ganas por hacer las cosas</td>
                                                        <td> <input type="radio" name="parte3_pregunta1" value="0"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta1" value="1"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta1" value="2"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta1" value="3"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Me he sentido triste, deprimida o sin esperanza</td>
                                                        <td> <input type="radio" name="parte3_pregunta2" value="0"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta2" value="1"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta2" value="2"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta2" value="3"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>He tenido dificultad para dormir o mantenerme dormido o he dormido demasiado</td>
                                                        <td> <input type="radio" name="parte3_pregunta3" value="0"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta3" value="1"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta3" value="2"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta3" value="3"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Me he sentido cansada o tuve poca energía sin motivo que lo justifique</td>
                                                        <td> <input type="radio" name="parte3_pregunta4" value="0"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta4" value="1"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta4" value="2"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta4" value="3"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>No he tenido apetito o he comido demasiado</td>
                                                        <td> <input type="radio" name="parte3_pregunta5" value="0"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta5" value="1"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta5" value="2"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta5" value="3"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>He tenido dificultad para poner atención o concentrarme en las cosas que hago: Como leer
                                                        el periódico, ver televisión, escuchar atentamente la radio o conversar con otras personas</td>
                                                        <td> <input type="radio" name="parte3_pregunta6" value="0"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta6" value="1"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta6" value="2"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta6" value="3"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>Me he movido o hablado más lento de lo normal o me he sentido más inquieta o intranquila</td>
                                                        <td> <input type="radio" name="parte3_pregunta7" value="0"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta7" value="1"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta7" value="2"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta7" value="3"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>He pensado que sería mejor estar muerta o en hacerme daño</td>
                                                        <td> <input type="radio" name="parte3_pregunta8" value="0"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta8" value="1"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta8" value="2"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta8" value="3"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>Me he sentido mal, como que soy un fracaso o que he defraudado a mi familia o a mí misma</td>
                                                        <td> <input type="radio" name="parte3_pregunta9" value="0"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta9" value="1"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta9" value="2"> </td>
                                                        <td> <input type="radio" name="parte3_pregunta9" value="3"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>¿Estos sentimientos cuánto le han dificultado para realizar su trabajo,
                                                            sus actividades en la casa o llevarse bien con otras personas, mucho, poco o nada?</td>
                                                        <td colspan="4">
                                                            <div class="span12">
                                                            <label for="id_parte3_pregunta101" class="span4">MUCHO <input type="radio" name="parte3_pregunta10"
                                                                                 id="id_parte3_pregunta101"
                                                                                 value="1"></label>
                                                            <label for="id_parte3_pregunta102" class="span4">POCO <input type="radio" name="parte3_pregunta10"
                                                                                 id="id_parte3_pregunta102"
                                                                                 value="2"></label>
                                                            <label for="id_parte3_pregunta103" class="span4">NADA <input type="radio" name="parte3_pregunta10"
                                                                                 id="id_parte3_pregunta103"
                                                                                 value="3"></label>
                                                                </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div class="next-prev-btn-container pull-right" style="margin-right: 10px;">
                                            <a data-original-title="" href="javascript: save_cuestionario();"
                                               class="button next" >
                                                Terminar
                                            </a>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--/.fluid-container-->
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'endes/js/jquery.countdown.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    var shortly=0;
    $('#newPage').countdown({until: shortly, onExpiry: save_cuestionario, labels1: ['Year', 'Month', 'Week', 'Day', 'Hora', 'Minuto', 'Segundo'] });

    $(document).on('ready', function() {
        shortly = new Date();
        shortly.setSeconds(shortly.getSeconds() + (600.5-{{ parte3_tiempo }}));
        $('#newPage').countdown('option', {until: shortly,
            labels1: ['Year', 'Month', 'Week', 'Day', 'Hora', 'Minuto', 'Segundo'] });
        $('#id_tabla tbody').find('tr:last').hide();
    });

    $.each($('input'), function(k, v){
        if(v !== 'parte3_pregunta10'){
            $(v).on('click', function(e){
                if(calcular()>0){
                    $('#id_tabla tbody').find('tr:last').show();
                }else{
                    $('#id_tabla tbody').find('tr:last').hide();
                }
            });
        }
    });

    function validar(){
        var rptas = 0;
        $.each($('input'), function(k, v){
            if($(v).is(':checked')){
                rptas += 1;
            }
        });
        if(calcular()>0){
            return 10 === rptas;
        }else{
            return 9 === rptas;
        }
    }

    function calcular(){
        var total = 0;
        $.each($('input'), function(k, v){
            if($(v).is(':checked')){
                total += parseInt($(v).val());
            }
        });
        return total;
    }

    function save_cuestionario(){
        var data = $('#id_form3').serialize();
        var options = {
            type: 'POST',
            url: "{% url 'cuestionario4' %}",
            dataType: 'json',
            async: true,
            data: data,
            beforeSend: function() {

            }
        };
        var posting = $.ajax(options);

        posting.done(function(data, textStatus, jqXHR) {
            if(data['success']){
                location.href = '{% url 'agradecimiento2' %}';
            }else{
                alert(data['data']);
            }
        })
        .fail(function(data, textStatus, jqXHR) {
            alert('ha ocurrido un error inesperado');
        });
    }
    //Tooltip
    $('a').tooltip('hide');
    </script>
{% endblock %}
