{% extends 'base.html' %}
{% load static from staticfiles %}
{% block css %}
    <!-- Important. For Theming change primary-color variable in main.css  -->
    <!--[if lte IE 7]>
    <script src="{% static 'theme/css/icomoon-font/lte-ie7.js' %}">
    </script>
    <![endif]-->
{% endblock %}
{% block contenido %}

    <!-- bootstrap css -->
    <div class="container-fluid">
        <div class="dashboard-wrapper">
            <div class="left-sidebar">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    Cuestionario - Conociendote
                                      <span class="mini-title">
                                        Complete las preguntas con sinceridad
                                      </span>
                                </div>
                            <span class="tools">
                              <a data-original-title="Ingrese sus datos" class="fs1" aria-hidden="true" data-icon="" data-placement="bottom"></a>
                            </span>
                            </div>
                            <div class="widget-body">
                                <form class="form-horizontal no-margin" id="id_form">
                                    {% csrf_token %}
                                    <div class="tab-content" id="myTabContent">
                                        <div id="step1" class="tab-pane fade active in">
                                            <div class="row-fluid">
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                    <th colspan="2">Lea cada una de las preguntas y conteste haciendo un clic sobre la palabra
                                                        <b>SI</b> o la palabra <b>NO</b> según sea su modo de pensar o sentir. Responda con sinceridad</th>
                                                    <th>SI</th>
                                                    <th>NO</th>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>¿Tiene con frecuencia subidas y bajadas de su estado de ánimo?</td>
                                                        <td> <input type="radio" name="rpta1[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta1[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>¿Es usted una persona habladora?</td>
                                                        <td> <input type="radio" name="rpta2[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta2[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>¿Lo pasaría muy mal si viese sufrir a un niño o a un animal?</td>
                                                        <td> <input type="radio" name="rpta3[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta3[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>¿Es Ud. más bien animado/a?</td>
                                                        <td> <input type="radio" name="rpta4[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta4[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>¿Alguna vez ha deseado más ayudarse a sí mismo/a que compartir con otros?</td>
                                                        <td> <input type="radio" name="rpta5[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta5[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>¿Tomaría drogas que pudieran tener efectos desconocidos o peligrosos?</td>
                                                        <td> <input type="radio" name="rpta6[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta6[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>¿Ha acusado a alguien alguna vez de hacer algo sabiendo que la culpa era de Ud.?</td>
                                                        <td> <input type="radio" name="rpta7[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta7[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>¿Prefiere actuar a su modo en lugar de comportarse según las normas?</td>
                                                        <td> <input type="radio" name="rpta8[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta8[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>¿Se siente con frecuencia harto/a ("hasta la coronilla")?</td>
                                                        <td> <input type="radio" name="rpta9[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta9[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>¿Ha cogido alguna vez algo que perteneciese a otra persona (aunque sea un broche o un bolígrafo)?</td>
                                                        <td> <input type="radio" name="rpta10[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta10[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td>¿Se considera una persona nerviosa?</td>
                                                        <td> <input type="radio" name="rpta11[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta11[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td>¿Piensa que el matrimonio está pasado de moda y que se debería suprimir?</td>
                                                        <td> <input type="radio" name="rpta12[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta12[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>13</td>
                                                        <td>¿Podría animar fácilmente una fiesta o reunión social aburrida?</td>
                                                        <td> <input type="radio" name="rpta1[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta1[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>14</td>
                                                        <td>¿Es Ud. una persona demasiado preocupada?</td>
                                                        <td> <input type="radio" name="rpta14[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta14[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>15</td>
                                                        <td>¿Tiende a mantenerse callado/a (o en un 2" plano) en las reuniones o encuentros sociales?</td>
                                                        <td> <input type="radio" name="rpta15[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta15[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>16</td>
                                                        <td>¿Cree que la gente dedica demasiado tiempo para asegurarse el futuro mediante ahorros o seguros?</td>
                                                        <td> <input type="radio" name="rpta16[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta16[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>17</td>
                                                        <td>¿Alguna vez ha hecho trampas en el juego?</td>
                                                        <td> <input type="radio" name="rpta17[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta17[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>18</td>
                                                        <td>¿Sufre usted de los nervios?</td>
                                                        <td> <input type="radio" name="rpta18[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta18[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>19</td>
                                                        <td>¿Se ha aprovechado alguna vez de otra persona?</td>
                                                        <td> <input type="radio" name="rpta19[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta19[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>20</td>
                                                        <td>Cuando está con otras personas, ¿es Ud. más bien callado/a?</td>
                                                        <td> <input type="radio" name="rpta20[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta20[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>21</td>
                                                        <td>¿Se siente muy solo/a con frecuencia?</td>
                                                        <td> <input type="radio" name="rpta21[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta21[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>22</td>
                                                        <td>¿Cree que es mejor seguir las normas ?</td>
                                                        <td> <input type="radio" name="rpta22[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta22[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>23</td>
                                                        <td>¿Las demás personas le consideran muy animado/a?</td>
                                                        <td> <input type="radio" name="rpta23[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta23[]" value="2"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>24</td>
                                                        <td>¿Pone en práctica siempre lo que dice?</td>
                                                        <td> <input type="radio" name="rpta24[]" value="1"> </td>
                                                        <td> <input type="radio" name="rpta24[]" value="2"> </td>
                                                    </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div class="next-prev-btn-container pull-right" style="margin-right: 10px;">
                                            <a data-original-title="" href="javascript: save_cuestionario();"
                                               class="button next" >
                                                Continuar
                                            </a>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--/.fluid-container-->
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">

    function save_cuestionario(){
        var data = $('#id_form').serialize();
        var options = {
            type: 'POST',
            url: "{% url 'cuestionario3' %}",
            dataType: 'json',
            async: true,
            data: data,
            beforeSend: function() {

            }
        };
        var posting = $.ajax(options);

        posting.done(function(data, textStatus, jqXHR) {
            if(data['success']){
                location.href = '{% url 'cuestionario4' %}';
            }
        })
        .fail(function(data, textStatus, jqXHR) {

        });
    }
    //Tooltip
    $('a').tooltip('hide');
    </script>
{% endblock %}
