{% extends 'base.html' %}
{% load static from staticfiles %}
{% block css %}
    <!-- Important. For Theming change primary-color variable in main.css  -->
    <!--[if lte IE 7]>
    <script src="{% static 'theme/css/icomoon-font/lte-ie7.js' %}">
    </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'endes/css/jquery.countdown.css' %}" />
    <style type="text/css">

        .oculto{
            display: none;
        }
    </style>
{% endblock %}

{% block contenido %}

    <!-- bootstrap css -->
    <div class="container-fluid">
        <div class="dashboard-wrapper">
            <div class="left-sidebar">
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    Parte I
                      <span class="mini-title">
                        Complete las preguntas con sinceridad
                      </span>
                                </div>
                    <span class="tools">
                      <a data-original-title="Ingrese sus datos" class="fs1" aria-hidden="true" data-icon="" data-placement="bottom"></a>
                    </span>
                            </div>
                            <div class="widget-body">
                                <form class="form-horizontal no-margin" id="id_form2">
                                    {% csrf_token %}
                                    <div class="tab-content" id="myTabContent">
                                        <div id="step1" class="tab-pane fade active in">
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <span id="newPage" class="countdown "></span>
                                                </div>
                                            </div><br><br>
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <div class="control-group">
                                                        <div class="controls"><label for="id_pregunta1"><b>1.-</b>Mencione tres motivos por los que usted quisiera laborar en la Encuesta Demográfica y de Salud Familiar
                                                        ENDES 2014</label>
                                                        </div>
                                                        <div class="controls">
                                                            <textarea id="id_pregunta1" name="parte1_pregunta1" class="span12" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <div class="control-group">
                                                        <div class="controls"><label for="id_pregunta2"><b>2.-</b>¿Qué sabe usted del trabajo al que está postulando?</label>
                                                        </div>
                                                        <div class="controls">
                                                            <textarea id="id_pregunta2" name="parte1_pregunta2" class="span12" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <div class="control-group">
                                                        <div class="controls"><label for="id_pregunta3"><b>3.-</b>¿Cree usted que hay situaciones en las que esta permitida una mentira piadosa?
                                                            Explique ¿por qué?</label>
                                                        </div>
                                                        <div class="controls">
                                                            <textarea id="id_pregunta3" name="parte1_pregunta3" class="span12" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <div class="control-group">
                                                        <div class="controls"><label for="id_pregunta4"><b>4.-</b>¿Está dispuesta usted a laborar en un horario de trabajo que incluye sábados, domingos y feriados?
                                                            </label>
                                                        </div>
                                                        <div class="controls"><label for="">Si <input type="radio" name="parte1_pregunta4" id="comprimiso_1" value="SI">
                                                            &nbsp;&nbsp;&nbsp;No <input type="radio" name="parte1_pregunta4" id="compromiso_2" value="NO">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="oculto">
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <div class="control-group">
                                                        <div class="controls"><label for=""><b>5.-</b> Se compromete usted adecuarse al horario de los informantes
                                                            (lo que implica visitas a los informantes en las noches o muy temprano)
                                                            </label>
                                                        </div>
                                                        <div class="controls"><label for="id_pregunta5">Si me comprometo<input type="radio" name="parte1_pregunta5" id="id_parte1_pregunta5" value="1">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <div class="control-group">
                                                        <div class="controls"><label for="id_pregunta6"><b>6.-</b>Admiraría usted a una persona muy lista pero poco confiable. Explique</label>
                                                        </div>
                                                        <div class="controls">
                                                            <textarea id="id_pregunta6" name="parte1_pregunta6" class="span12" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <div class="control-group">
                                                        <div class="controls"><label for="id_pregunta7"><b>7.-</b>En su opinión ¿Cuál es su mayor ventaja competitiva personal,
                                                            que le permitirá aportar profesionalmente a la Encuesta Demográfica y de Salud Familiar ENDES 2013?</label>
                                                        </div>
                                                        <div class="controls">
                                                            <textarea id="id_pregunta7" name="parte1_pregunta7" class="span12" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="next-prev-btn-container pull-right" style="margin-right: 10px;">
                                            <a data-original-title="" href="javascript: save_cuestionario(false);"
                                               class="button next" >
                                                Continuar
                                            </a>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--/.fluid-container-->
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'endes/js/jquery.countdown.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    var shortly= 0, sigue=false;
    $('#newPage').countdown({until: shortly, onExpiry: save_cuestionario, labels1: ['Year', 'Month', 'Week', 'Day', 'Hora', 'Minuto', 'Segundo'] });

    $(document).on('ready', function() {
        shortly = new Date();
        shortly.setSeconds(shortly.getSeconds() + (600.5 - {{ parte1_tiempo }} ));
        $('#newPage').countdown('option', {until: shortly,
            labels1: ['Year', 'Month', 'Week', 'Day', 'Hora', 'Minuto', 'Segundo'] });
    });
 function validar(){
        var pregunta1 = $('#id_pregunta1'),
            pregunta2 = $('#id_pregunta2'),
            pregunta3 = $('#id_pregunta3'),
            pregunta4 = $('#comprimiso_1'),
            pregunta6 = $('#id_pregunta6'),
            pregunta7 = $('#id_pregunta7');
        if($.trim(pregunta1.val())===''){
            pregunta1.focus();
            pregunta1.parent().parent().addClass('error');
            return false;
        }else{
            pregunta1.parent().parent().removeClass('error');
        }
        if($.trim(pregunta2.val())===''){
            pregunta2.focus();
            pregunta2.parent().parent().addClass('error');
            return false;
        }else{
            pregunta2.parent().parent().removeClass('error');
        }
        if($.trim(pregunta3.val())===''){
            pregunta3.focus();
            pregunta3.parent().parent().addClass('error');
            return false;
        }else{
            pregunta3.parent().parent().removeClass('error');
        }

        if(pregunta4.is(':checked')){
            pregunta4.parent().parent().removeClass('error');
            if($.trim(pregunta4.val())==='SI'){
                if($.trim(pregunta6.val())===''){
                    pregunta6.focus();
                    pregunta6.parent().parent().addClass('error');
                    return false;
                }else{
                    pregunta6.parent().parent().removeClass('error');
                }
                if($.trim(pregunta7.val())===''){
                    pregunta7.focus();
                    pregunta7.parent().parent().addClass('error');
                    return false;
                }else{
                    pregunta7.parent().parent().removeClass('error');
                }
            }
        }else{
            pregunta4.parent().parent().removeClass('error');
            return false;
        }
        return true;
    }

    function save_cuestionario(expires){
        var _validar = true;
        if(expires===false){
            _validar = validar();
        }else{
            $('#compromiso_2').attr('checked', true);
        }
        if(_validar){
        var data = $('#id_form2').serialize();
        var options = {
            type: 'POST',
            url: "{% url 'cuestionario2' %}",
            dataType: 'json',
            async: true,
            data: data,
            beforeSend: function() {

            }
        };
        var posting = $.ajax(options);

        posting.done(function(data, textStatus, jqXHR) {
            if(data['success']){
                location.href = '{% url 'cuestionario3' %}';
            }
        })
        .fail(function(data, textStatus, jqXHR) {

        });
            }
    }

    function save_agradecimiento(){
        var data = $('#id_form2').serialize();
        var options = {
            type: 'POST',
            url: "{% url 'agradecimiento' %}",
            dataType: 'json',
            async: true,
            data: data,
            beforeSend: function() {

            }
        };
        var posting = $.ajax(options);

        posting.done(function(data, textStatus, jqXHR) {
            if(data['success']){
                location.href = '{% url 'agradecimiento' %}';
                sigue=true;
            }else{
                alert(data['data']);
            }
        })
        .fail(function(data, textStatus, jqXHR) {
            alert('Ha ocurrido un error inesperado');
        });
    }

    $('input[name="parte1_pregunta4"]').on('click', function(e){
        if (e.target.value === 'SI'){
            $('.oculto').show();
        }else{
            save_agradecimiento();
        }
    });
    //Tooltip
    $('a').tooltip('hide');
    </script>
{% endblock %}
