{% extends 'base.html' %}
{% load static from staticfiles %}
{% block css %}
    <!-- Important. For Theming change primary-color variable in main.css  -->
    <!--[if lte IE 7]>
    <script src="{% static 'theme/css/icomoon-font/lte-ie7.js' %}">
    </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'endes/css/jquery.countdown.css' %}" />
{% endblock %}
{% block contenido %}

    <!-- bootstrap css -->
    <div class="container-fluid">
        <div class="dashboard-wrapper">
            <div class="left-sidebar">
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    Cuestionario - Conociendote
                                      <span class="mini-title">
                                        Complete las preguntas con sinceridad
                                      </span>
                                </div>
                            <span class="tools">
                              <a data-original-title="Ingrese sus datos" class="fs1" aria-hidden="true" data-icon="" data-placement="bottom"></a>
                            </span>
                            </div>
                            <div class="widget-body">
                                <form class="form-horizontal no-margin" id="id_form3">
                                    {% csrf_token %}
                                    <div class="tab-content" id="myTabContent">
                                        <div id="step1" class="tab-pane fade active in">
                                            <div class="row-fluid">
                                                <div class="span10">
                                                    <span id="newPage" class="countdown "></span>
                                                </div>
                                            </div><br><br>
                                            <div class="row-fluid">
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                    <th colspan="2">Lea cada una de las preguntas y conteste haciendo un clic sobre la palabra
                                                        <b>SI</b> o la palabra <b>NO</b> según sea su modo de pensar o sentir. Responda con sinceridad</th>
                                                    <th>SI</th>
                                                    <th>NO</th>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>¿Tiene con frecuencia subidas y bajadas de su estado de ánimo?</td>
                                                        <td> <input type="radio" name="parte2_pregunta1" value="N"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta1" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>¿Es usted una persona habladora?</td>
                                                        <td> <input type="radio" name="parte2_pregunta2" value="E"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta2" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>¿Lo pasaría muy mal si viese sufrir a un niño o a un animal?</td>
                                                        <td> <input type="radio" name="parte2_pregunta3" value=""> </td>
                                                        <td> <input type="radio" name="parte2_pregunta3" value="P"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>¿Es Ud. más bien animado/a?</td>
                                                        <td> <input type="radio" name="parte2_pregunta4" value="E"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta4" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>¿Alguna vez ha deseado más ayudarse a sí mismo/a que compartir con otros?</td>
                                                        <td> <input type="radio" name="parte2_pregunta5" value="S"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta5" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>¿Tomaría drogas que pudieran tener efectos desconocidos o peligrosos?</td>
                                                        <td> <input type="radio" name="parte2_pregunta6" value="P"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta6" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>¿Ha acusado a alguien alguna vez de hacer algo sabiendo que la culpa era de Ud.?</td>
                                                        <td> <input type="radio" name="parte2_pregunta7" value="S"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta7" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>¿Prefiere actuar a su modo en lugar de comportarse según las normas?</td>
                                                        <td> <input type="radio" name="parte2_pregunta8" value="P"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta8" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>¿Se siente con frecuencia harto/a ("hasta la coronilla")?</td>
                                                        <td> <input type="radio" name="parte2_pregunta9" value="N"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta9" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>¿Ha cogido alguna vez algo que perteneciese a otra persona (aunque sea un broche o un bolígrafo)?</td>
                                                        <td> <input type="radio" name="parte2_pregunta10" value="S"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta10" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td>¿Se considera una persona nerviosa?</td>
                                                        <td> <input type="radio" name="parte2_pregunta11" value="N"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta11" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td>¿Piensa que el matrimonio está pasado de moda y que se debería suprimir?</td>
                                                        <td> <input type="radio" name="parte2_pregunta12" value="P"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta12" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>13</td>
                                                        <td>¿Podría animar fácilmente una fiesta o reunión social aburrida?</td>
                                                        <td> <input type="radio" name="parte2_pregunta13" value="E"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta13" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>14</td>
                                                        <td>¿Es Ud. una persona demasiado preocupada?</td>
                                                        <td> <input type="radio" name="parte2_pregunta14" value="N"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta14" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>15</td>
                                                        <td>¿Tiende a mantenerse callado/a (o en un 2" plano) en las reuniones o encuentros sociales?</td>
                                                        <td> <input type="radio" name="parte2_pregunta15" value=""> </td>
                                                        <td> <input type="radio" name="parte2_pregunta15" value="E"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>16</td>
                                                        <td>¿Cree que la gente dedica demasiado tiempo para asegurarse el futuro mediante ahorros o seguros?</td>
                                                        <td> <input type="radio" name="parte2_pregunta16" value="P"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta16" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>17</td>
                                                        <td>¿Alguna vez ha hecho trampas en el juego?</td>
                                                        <td> <input type="radio" name="parte2_pregunta17" value="S"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta17" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>18</td>
                                                        <td>¿Sufre usted de los nervios?</td>
                                                        <td> <input type="radio" name="parte2_pregunta18" value="N"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta18" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>19</td>
                                                        <td>¿Se ha aprovechado alguna vez de otra persona?</td>
                                                        <td> <input type="radio" name="parte2_pregunta19" value="S"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta19" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>20</td>
                                                        <td>Cuando está con otras personas, ¿es Ud. más bien callado/a?</td>
                                                        <td> <input type="radio" name="parte2_pregunta20" value=""> </td>
                                                        <td> <input type="radio" name="parte2_pregunta20" value="E"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>21</td>
                                                        <td>¿Se siente muy solo/a con frecuencia?</td>
                                                        <td> <input type="radio" name="parte2_pregunta21" value="N"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta21" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>22</td>
                                                        <td>¿Cree que es mejor seguir las normas ?</td>
                                                        <td> <input type="radio" name="parte2_pregunta22" value=""> </td>
                                                        <td> <input type="radio" name="parte2_pregunta22" value="P"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>23</td>
                                                        <td>¿Las demás personas le consideran muy animado/a?</td>
                                                        <td> <input type="radio" name="parte2_pregunta23" value="E"> </td>
                                                        <td> <input type="radio" name="parte2_pregunta23" value=""> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>24</td>
                                                        <td>¿Pone en práctica siempre lo que dice?</td>
                                                        <td> <input type="radio" name="parte2_pregunta24" value=""> </td>
                                                        <td> <input type="radio" name="parte2_pregunta24" value="S"> </td>
                                                    </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div class="next-prev-btn-container pull-right" style="margin-right: 10px;">
                                            <a data-original-title="" href="javascript: save_cuestionario();"
                                               class="button next" >
                                                Continuar
                                            </a>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--/.fluid-container-->
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'endes/js/jquery.countdown.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    var shortly=0;
    $('#newPage').countdown({until: shortly, onExpiry: save_cuestionario, labels1: ['Year', 'Month', 'Week', 'Day', 'Hora', 'Minuto', 'Segundo'] });

    $(document).on('ready', function() {
        shortly = new Date();
        shortly.setSeconds(shortly.getSeconds() + 1200.5);
        $('#newPage').countdown('option', {until: shortly,
            labels1: ['Year', 'Month', 'Week', 'Day', 'Hora', 'Minuto', 'Segundo'] });
    });

    function save_cuestionario(){
        var data = $('#id_form3').serialize();
        var options = {
            type: 'POST',
            url: "{% url 'cuestionario3' %}",
            dataType: 'json',
            async: true,
            data: data,
            beforeSend: function() {

            }
        };
        var posting = $.ajax(options);

        posting.done(function(data, textStatus, jqXHR) {
            if(data['success']){
                location.href = '{% url 'cuestionario4' %}';
            }else{
                alert('ha ocurrido un error:'+data['data']);
            }
        })
        .fail(function(data, textStatus, jqXHR) {
                alert('ha ocurrido un error inesperado');
        });
    }
    //Tooltip
    $('a').tooltip('hide');
    </script>
{% endblock %}
